.custom-focus {
  @apply outline-none focus-visible:ring-4 focus-visible:ring-custom-green-700;
}
.custom-focus-light {
  @apply custom-focus focus-visible:ring-2;
}
.login-btn {
  @apply bg-white transition-all mt-3 rounded-full font-bold text-lg hover:border-transparent
  hover:bg-custom-green-hover hover:text-white text-custom-input py-2.5;
}
.sign-up-link {
  @apply ml-2 text-custom-span underline underline-offset-4 text-white 
hover:text-gray-200 transition-all custom-focus rounded-sm;
}
.kakao-btn {
  @apply bg-custom-kakao flex items-center justify-center space-x-2 mt-6 rounded-full 
  font-bold hover:grayscale-40 transition-all text-custom-input py-3 custom-focus;
}
.next-btn {
  @apply bg-custom-gray-light whitespace-nowrap px-4 hover:bg-custom-gray-dark  
  hover:text-white transition-all common-btn;
}
.action-btn {
  @apply transition-colors whitespace-nowrap border-none
  custom-focus text-custom-span rounded-md font-semibold;
}
.product-page {
  @apply mobile:w-full mobile:px-4 mobile:max-w-[447px]
  tablet-sm:w-4/5 tablet-sm:min-w-[447px] tablet-sm:max-w-[660px]
  tablet:min-w-[660px] tablet:max-w-[760px] desktop-sm:min-w-[860px]
  desktop-sm:max-w-[900px];
}
.category-modal {
  @apply mobile:w-full mobile:max-w-[387px] tablet-sm:w-4/5 tablet-sm:min-w-[387px] tablet-sm:max-w-[430px]
  tablet:w-4/5 tablet:min-w-[430px] tablet:max-w-[580px];
}
.common-btn {
  @apply absolute left-1/2 -translate-x-1/2 bottom-5 w-full
  py-2.5 rounded-md custom-focus text-custom-black text-custom-input font-semibold;
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(5px);
  }
  75% {
    transform: translateX(-5px);
  }
  100% {
    transform: translateX(0);
  }
}

.shake {
  animation: shake 0.3s ease-in-out;
}
.modal-content h1 {
  margin-top: 1rem;
}
.modal-content ul {
  list-style-type: circle;
}
.modal-content ol {
  list-style-type: decimal;
}
.modal-content .container {
  padding-bottom: 1rem;
}
